{#include base}
    {#title}ZR_Riders - Milage database - bikes listing{/title}
    <div>
        <br><br>
        {pageHeader}
        <br><br>
        <table border="1" summary="Lists the bikes currently in the database">
            <caption><em>Bikes</em></caption>
            <tr>
                <th>Id
                <th>Owner
                <th>Make
                <th>Model
                <th>Year
                <th>Odometer in
                <th>Current mileage
            </tr>
            {#each bikes}
                <tr>
                    <td>
                        <a href="miles/bike/{it.id}">&nbsp;{it.id}&nbsp;</a>
                    </td>
                    <td><a href="riders/update/{it.riderId}">{it.owner}</a>
                    </td>
                    <td>{it.make}</td>
                    <td><a href="bikes/update/{it.id}">{it.model}</a>
                    </td>
                    <td>{it.year}</td>
                    <td>
                        {#if it.distanceUnit.toString == "0"}
                            Miles
                        {#else}
                            Kilometers
                        {/if}
                    </td>
                    <td>{it.totalMiles}</td>
                </tr>
            {/each}
        </table>
        <br>
        Click on the <b>Id</b> to show/enter the miles for that bike.<BR>
        Click on the <b>Model</b> to CHANGE or DELETE that bike.<BR>
        Click on the <b>Name</b> to CHANGE or DELETE that rider.<BR>
    </div>
{/include}
