{#include baseSubTwo}
    {#title}ZRMiles update bike{/title}
    <div>
        <p>
            <br/>
            <br/>
            {pageHeader}<br>
        </p>

        <form name="updateBikeForm" method="POST">
            <input type="hidden" name="bikeId" value="{bike.id}">
            <input type="hidden" name="riderId" value="{bike.riderId}">
            <input type="hidden" name="{inject:csrf.parameterName}" value="{inject:csrf.token}"/>
            <table border="0">
                <caption><em>Bike</em></caption>
                <tr>
                    <td>
                        Make *
                    </td>
                    <td>
                        <input type="text" size="40" maxlength="40" name="make"
                               value="{bike.make.or('')}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Model *
                    </td>
                    <td>
                        <input type="text" size="50" maxlength="50" name="model"
                               value="{bike.model.or('')}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Year
                    </td>
                    <td>
                        <input type="text" size="4" maxlength="4" name="year"
                               value="{bike.year.or('')}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Odometer in
                    </td>
                    <td>
                        <select name="distanceUnit">
                            <option {#if kilometers}selected{/if} value="1">Kilometers</option>
                            <option {#if ! kilometers}selected{/if} value="0">Miles</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><input type="submit" name="updateMotorcycle" value="Update">
                </tr>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <TD colspan="2" align="center"><input type="submit" name="deleteMotorcycle" value="Delete"></TD>
                </tr>
            </table>
        </form>
        * = Required.<br><br>
    </div>
{/include}
