BODY {
  background-color: lightgrey;
  color: black;
  font-family: monospace;
}

TABLE {
  /* border: ridge 2pt; */
  /* border-collapse: separate; */
  /* border-spacing: 1pt; */
}

TD {
  /* border: ridge 2pt; */
  padding: 0.3em;
  /* border: inset 1pt; */
}

TH {
  padding: 0.3em;
  /* border: inset 1pt; */
}

TD.lastname {
  color: black;
  font-size: +1;
  text-align: center;
}

TD.notComplete {
  color: grey;
  text-align: right;
}

TD.right {
  text-align: right;
}

TD.center {
  text-align: center;
}

A {
  color: blue;
  font-family: helvetica, sans-serif;
  font-weight: bold;
}

.successText {
  color: green;
  font-family: helvetica, sans-serif;
  font-weight: bold;
}

.errorText {
  color: red;
  font-family: helvetica, sans-serif;
  font-weight: bold;
}

.floatRight {
  float: right;
}

.yearHighlight {
  font-weight: bold;
}

.helpHeader {
  color: black;
  font-family: monospace;
  font-weight: bold;
}

.standOut {
  color: red;
}