<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex,nofollow">
    <link rel="StyleSheet" href="../zrmiles.css" type="text/css">
    <title>{#insert title}Default Title{/}</title>
</head>

<body>
<div>
    <a href="../home">Home</a>&nbsp;&nbsp;
    <a href="../riders">Riders</a>&nbsp;&nbsp;
    <a href="../bikes">Bikes</a>&nbsp;&nbsp;
    <!-- <A href="../miles/thisyear.jsp">Miles</A>&nbsp;&nbsp; -->
    <a href="../reports">Reports</a>&nbsp;&nbsp;
    <a href="../riders/add.jsp">Register</a>&nbsp;&nbsp;
    <a href="../preferences">Preferences</a>&nbsp;&nbsp;
    <a href="../help">&nbsp;Help&nbsp;</a>&nbsp;&nbsp;
    <a href="../about">&nbsp;About&nbsp;</a>
</div>
{#insert}No body!{/}
</body>
</html>
