<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex,nofollow">
    <link rel="StyleSheet" href="zrmiles.css" type="text/css">
    <title>{#insert title}Default Title{/}</title>
</head>

<body>
<div>
    <a href="../home/index.jsp">Home</a>&nbsp;&nbsp;
    <a href="riders">Riders</a>&nbsp;&nbsp;
    <a href="bikes">Bikes</a>&nbsp;&nbsp;
    <!-- <A href="../miles/thisyear.jsp">Miles</A>&nbsp;&nbsp; -->
    <a href="../reports/index.jsp">Reports</a>&nbsp;&nbsp;
    <a href="../riders/add.jsp">Register</a>&nbsp;&nbsp;
    <a href="../home/preferences.jsp">Preferences</a>&nbsp;&nbsp;
    <a href="../home/help.jsp">&nbsp;Help&nbsp;</a>&nbsp;&nbsp;
    <a href="../home/about.jsp">&nbsp;About&nbsp;</a>
</div>
{#insert}No body!{/}
</body>
</html>
