{#include base}
    {#title}ZRMiles riders{/title}
    <div>
        <p>
            <br />
            <br />
            All riders in the database.<br>
        </p>
        <table border="1" summary="Lists the riders currently in the database">
            <caption><em>Riders</em></caption>
            <tr>
                <th>Id
                <th>First name
                <th>Last name
                <th>Location
            </tr>
            {#each riders}
                <tr>
                    <td>
                        <a href="bikes/rider/{it.id}">{it.id}</a>
                    </td>
                    <td>
                        {it.firstName}
                    </td>
                    <td>
                        <a href="riders/update/{it.id}">{it.lastName}</a>
                    </td>
                    <td>
                        {it.streetAddress}
                    </td>
                </tr>
            {/each}
        </table>
        <br>
        Click on the <B>Id</B> to show/add the bikes for that rider.<br>
        Click on the <B>last name</B> to CHANGE or DELETE that rider.
    </div>
{/include}
