{#include baseSubTwo}
    {#title}ZRMiles register rider{/title}
    <div>
        <p>
            <br/>
            <br/>
        </p>

        {#if rider == null || !registerOk}
            {#if !registerOk}
                <span class="errorText">Please fill out all required fields.</span>
            {#else}
            Please enter your data below.
            {/if}
        <br><br>
        <form name="registerRiderForm" method="POST">
            <input type="hidden" name="{inject:csrf.parameterName}" value="{inject:csrf.token}" />
            <table border="0">
                <caption><em>Rider</em></caption>
                <tr>
                    <td>
                        First name *
                    </td>
                    <td>
                        <input type="text" size="20" maxlength="20" name="firstName" value="{rider.firstName}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Last name *
                    </td>
                    <td>
                        <input type="text" size="40" maxlength="40" name="lastName" value="{rider.lastName}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Location
                    </td>
                    <td>
                        <input type="text" size="50" maxlength="50" name="streetAddress" value="{rider.streetAddress}">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><INPUT type="submit" name="addRider" value="Add">
                </tr>
            </table>
        </form>
        * = Required.<BR><BR>
        {#else}
            Welcome {rider.firstName}!
        {/if}
    </div>
{/include}
